<style>
  .message {
    color: aqua;
    font-size: 30px;
    text-align: center;
  }
</style>

<div class="message" id="{{id}}"> 
  <span>{{message}}</span>
  <button class="deleteMessage">del</button>
</div>